{{ "<!-- ENTERING partial contact-form-99inbound.html -->" | safeHTML }}

<form class="kwes-form" action="https://kwes.io/api/foreign/forms/85eX8a7y6soFJLXUIzto">
  <label for="name">Tu nombre</label>
  <input type="text" name="name" rules="max:100">>

  <label for="email">Tu email</label>
  <input type="text" name="email" rules="required|email|max:100">>

  <label for="name">Mensaje</label>
  <input type="text" name="message" rules="max:1000">>

  <button type="submit">Enviar</button></form> 

{{ "<!-- LEAVING partial contact-form-99inbound.html -->" | safeHTML }}
