{{ "<!-- ENTERING partial flickity-slideshow.html -->" | safeHTML }}
<!-- Load Flickty CSS and JS libraries -->
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<!-- Custom CSS styles for Flickity slideshow -->
<style>
.my-carousel-container {
  margin-bottom: 50px;
}

.carousel-cell {
  width: 100%;
  /* height: 800px;   Fixed by setting adaptiveHeight and imagesLoaded to true */
  margin-right: 10px;
}

/* .is-fullscreen added to carousel when fullscreen
   size cells to full height when fullscreen */
.carousel.is-fullscreen .carousel-cell {
  height: 100%;
}

.flickity-page-dots {
  bottom: -10px;
}
</style>


<!-- Generate Flickity slideshow skeleton -->
{{ with .Get "title" }}
  <h4>{{ . }}</h4>
{{ end }}
<div class="my-carousel-container">
  <div class="main-carousel">
  {{- range (.Page.Resources.Match (printf "%s/*" (.Get "folder"))) }}
    <div class="carousel-cell">
      <img class="slideshow-img" src="{{ .Permalink }}" alt="galleryImage" />
    </div>
  {{ end }}
  </div>
</div>

<!-- JavaScript initialize Flickity slideshow -->
{{ $wrapAround := default true (.Get "wrapAround") }}
<script>
var elem = document.querySelector('.main-carousel');
var flkty = new Flickity( elem, {
  cellAlign: 'left',
  contain: true,
  wrapAround: {{ $wrapAround }},
  // wrapAround: true,
  adaptiveHeight: true,
  imagesLoaded: true
});
</script>
{{ "<!-- LEAVING partial flickity-slideshow.html -->" | safeHTML }}
