{{ $width := default 100 (.Get "width") }}
{{ $image := (.Get "image") }}
{{ $text := default "" (.Get "alt") }}

<div class="centered-img-container">
  <div class="centered-img-inner" style="width:{{ $width }}%">
    {{ if (.Get "title") }}
      <figure>
        <img src="{{ $image | safeURL }}" alt="{{ $text }}">
        <figcaption><p>{{ (.Get "title") }}</p></figcaption>
      </figure>
    {{ else }}
      <img src="{{ $image | safeURL }}" alt="{{ $text }}">
    {{ end }}
  </div>
</div>